/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
	border-width:  5px;
	border-color: blue;
	border-style: solid;
	width: 25%;
	margin-left: 100%;
	margin-bottom: 0%
}

#two {
    border-width:  5px;
	margin: 5px;
	padding: 5px;
	border-color: green;
	border-style: solid;
	width: 25%;
	margin-left: 100%;
}

#three {
    border-width:  5px;
	border-color: orange;
	border-style: solid;
	width: 25%;

}

#four {
 	border-width:  5px;
	border-color: yellow;
	border-style: solid;
	width: 25%;

}

#link {

}